<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>enterprise</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: Twilio, Inc.</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.twilio.video-app</key>
		<string>VideoApp-Distribution</string>
		<key>com.twilio.video-app-internal</key>
		<string>VideoApp-Internal-Distribution</string>
		<key>com.twilio.video-app-community</key>
		<string>VideoApp-Community-Distribution</string>
	</dict>
</dict>
</plist>
