version: 2.1

aliases:
  - &build_and_test_filters
    branches:
      ignore:
        - master
        - /WIP\/.*/

executors:
  macos_executor:
    macos:
      xcode: "11.0.0"

commands:
  setup:
    steps:
      - checkout
      - run:
          name: Install credentials
          command: |
            mkdir -p VideoApp/VideoApp/Credentials || true
            base64 -D \<<< $GOOGLE_SERVICE_INFO_PLIST -o VideoApp/VideoApp/Credentials/GoogleService-Info.plist
            base64 -D \<<< $TWILIO_CREDENTIALS -o VideoApp/VideoApp/Credentials/TwilioCredentials.json
            base64 -D \<<< $INTERNAL_CREDENTIALS -o VideoApp/VideoApp/Credentials/InternalCredentials.json
            base64 -D \<<< $COMMUNITY_CREDENTIALS -o VideoApp/VideoApp/Credentials/CommunityCredentials.json
      - run: 
          name: Install gems  
          command: bundle install --path vendor/bundle
      - run:
          name: Fetch CocoaPods specs
          command: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
      - run:
          name: Install CocoaPods
          command: bundle exec pod install
  build:
    parameters:
      scheme:
        type: string
    steps:
      - setup
      - run:
          name: Build
          command: xcodebuild -workspace VideoApp.xcworkspace -scheme << parameters.scheme >> -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 11,OS=13.0' | xcpretty
  build_and_test:
    parameters:
      scheme:
        type: string
    steps:
      - setup
      - run:
          name: Build and test
          command: xcodebuild -workspace VideoApp.xcworkspace -scheme << parameters.scheme >> -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 11,OS=13.0' test | xcpretty

jobs:
  build_and_test_twilio_app:
    executor: macos_executor
    steps:
      - build_and_test:
          scheme: Video-Twilio
  build_community_app:
    executor: macos_executor
    steps:
      - build:
          scheme: Video-Community
  build_internal_app:
    executor: macos_executor
    steps:
      - build:
          scheme: Video-Internal

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test_twilio_app:
          filters: *build_and_test_filters
      - build_community_app:
          filters: *build_and_test_filters
      - build_internal_app:
          filters: *build_and_test_filters
