version: 2.1

aliases:
  - &test_filters
    branches:
      ignore:
        - master
        - /WIP\/.*/

executors:
  macos_executor:
    macos:
      xcode: "11.2.0"

commands:
  setup:
    steps:
      - checkout
      - run:
          name: Install credentials
          command: |
            mkdir -p Credentials || true
            base64 -D \<<< $GOOGLE_SERVICE_INFO_PLIST -o Credentials/GoogleService-Info.plist
            base64 -D \<<< $CREDENTIALS_JSON -o Credentials/Credentials.json
            base64 -D \<<< $CREDENTIALS_XCCONFIG -o Credentials/Credentials.xcconfig
            base64 -D \<<< $TEST_CREDENTIALS_JSON -o Credentials/TestCredentials.json
      - restore_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install gems  
          command: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
  test:
    parameters:
      scheme:
        type: string
    steps:
      - setup
      - run:
          name: Test
          command: bundle exec fastlane test scheme:<< parameters.scheme >>
      - store_artifacts:
          path: "~/Library/Logs/scan"
          destination: "scan"
  beta:
    steps:
      - setup
      - run:
          name: Setup code signing
          command: sh .circleci/setup_code_signing.sh
      - run:
          name: Deploy to App Center
          command: bundle exec fastlane beta
      - store_artifacts:
          path: "~/Library/Logs/gym"
          destination: "gym"

jobs:
  test_twilio_app:
    executor: macos_executor
    steps:
      - test:
          scheme: Video-TwilioUITests
  test_community_app:
    executor: macos_executor
    steps:
      - test:
          scheme: Video-Community
  test_internal_app:
    executor: macos_executor
    steps:
      - test:
          scheme: Video-Internal
  deploy_internal_app_beta:
    executor: macos_executor
    steps:
      - beta

workflows:
  version: 2
  build_and_test:
    jobs:
      - test_twilio_app:
          filters: *test_filters
      - test_community_app:
          filters: *test_filters
      - test_internal_app:
          filters: *test_filters
      - deploy_internal_app_beta:
          filters: *test_filters
          # filters:
          #   branches:
          #     only:
          #       - master
